## Importando bibliotecas

In [9]:
import pandas as pd
import MetaTrader5 as mt5
import numpy as np
import config
import transform_data as td

## Iniciando Sofware

In [10]:
## Ã‰ preciso ter o me5 instalado para coletar os dados

In [11]:
if mt5.initialize():
    mt5.login(login=config.USERNAME, password=config.PASSWORD)
else:
    print("initialize() failed, error code =",mt5.last_error())
    mt5.shutdown()

## Coletando dados

In [12]:
data = mt5.copy_rates_from_pos(config.SYMBOL, config.TIMEFRAME, 0, 7200)
df = pd.DataFrame(data)

In [13]:
df.head()

,time,open,high,low,close,tick_volume,spread,real_volume
0,1254268800,1.45838,1.46730,1.45762,1.46649,24689,9,0
1,1254312000,1.46651,1.46729,1.45752,1.46368,32549,8,0
2,1254355200,1.46367,1.46676,1.45507,1.45705,23171,9,0
3,1254398400,1.45704,1.45834,1.45170,1.45423,31494,9,0
4,1254441600,1.45416,1.45623,1.45019,1.45473,21289,9,0

## Feature Engeniring

In [14]:
df = td.transform_data(df)

In [15]:
df.head()

,close,close%,mm7,mm14,mm21,mm200,target
time,,,,,,,
2010-02-18 12:00:00,1.34923,1.006611,1.362887,1.365554,1.367251,1.452994,1.34933
2010-02-19 00:00:00,1.34933,0.999926,1.361401,1.363420,1.366137,1.452408,1.36116
2010-02-19 12:00:00,1.36116,0.991309,1.360936,1.362548,1.365793,1.451895,1.36064
2010-02-22 00:00:00,1.36064,1.000382,1.358760,1.361514,1.365454,1.451413,1.35996
2010-02-22 12:00:00,1.35996,1.000500,1.356914,1.360879,1.365008,1.450942,1.36003

## Salvando dados

In [16]:
## Salvando arquivo principal
df.to_csv(f'datasets/dataset_{config.SYMBOL}.csv')

## Criando X e salvando
X = df.drop(columns=['target'])
X.to_csv(f'datasets/X_{config.SYMBOL}.csv')

## Criando y e salvando
y = df[['target']]
y.to_csv(f'datasets/y_{config.SYMBOL}.csv')