## Importando bibliotecas

In [1]:
import pandas as pd
import MetaTrader5 as mt5
import numpy as np
import config
import transform_data as td

## Iniciando Sofware

In [2]:
## Ã‰ preciso ter o me5 instalado para coletar os dados

In [3]:
if mt5.initialize():
    mt5.login(login=config.USERNAME, password=config.PASSWORD)
else:
    print("initialize() failed, error code =",mt5.last_error())
    mt5.shutdown()

## Coletando dados

In [4]:
data = mt5.copy_rates_from_pos(config.SYMBOL, config.TIMEFRAME, 0, config.CANDLES)
df = pd.DataFrame(data)

In [5]:
df.head()

,time,open,high,low,close,tick_volume,spread,real_volume
0,1611014400,1.20768,1.20785,1.20745,1.20763,341,1,0
1,1611018000,1.20769,1.20780,1.20739,1.20777,612,0,0
2,1611021600,1.20777,1.20928,1.20774,1.20864,2096,0,0
3,1611025200,1.20863,1.20968,1.20861,1.20932,3158,0,0
4,1611028800,1.20933,1.20978,1.20906,1.20944,2010,0,0

## Feature Engineering

In [6]:
df = td.transform_data(df)

In [7]:
df.head()

,close,close%,mm7,mm14,mm21,mm200,target
time,,,,,,,
2021-01-29 07:00:00,1.20996,0.999992,1.210537,1.211562,1.211511,1.213447,1.21055
2021-01-29 08:00:00,1.21055,1.000488,1.210317,1.211447,1.211496,1.213462,1.21044
2021-01-29 09:00:00,1.21044,0.999909,1.210273,1.211299,1.211475,1.213475,1.21171
2021-01-29 10:00:00,1.21171,1.001049,1.210399,1.211174,1.211547,1.213490,1.21164
2021-01-29 11:00:00,1.21164,0.999942,1.210571,1.211066,1.211629,1.213502,1.21343

## Salvando dados

In [8]:
## Salvando arquivo principal
df.to_csv(f'datasets/dataset_{config.SYMBOL}.csv', index=False)

## Criando X e salvando
X = df.drop(columns=['target'])
X.to_csv(f'datasets/X_{config.SYMBOL}.csv', index=False)

## Criando y e salvando
y = df[['target']]
y.to_csv(f'datasets/y_{config.SYMBOL}.csv', index=False)